body{
  padding:0;
  margin:0;
}
.page{
  display: flex;
}
.scene-panel{
  width:20%;
  font-size:20px;
  color: black;
  background: yellow;
}
.scene-panel ul{
  list-style: none;
  padding: 0 0 0 10px;
}
.scene-panel ul li{
  width:100%;
  background: white;
  margin: 5px 0;
  text-align: left;
}
.scene-panel a{
  text-decoration: underline;
  color: black;
}
.scene-panel a:visited{
  color: black;
}
.key-panel{
  text-align: center;
  width:80%;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.keybox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 54px;
  height: 54px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  font-size: 24px;
}
.keybox-container{
  padding:0 15px 0 0;
  font-size: 14px;
}
.pressed{
  background: grey;
  color: white;
}
.paused{
  background:lightsalmon;
  color:white;
}
.time{
  width: 100%;
  font-size: 10px;
}
.volAdjus{
  -webkit-appearance: none;
  height: 64px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
}